@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&display=swap");

@import "tailwindcss";

@theme {
  --font-header-title: "Oswald";
  --font-ibm: "IBM Plex Sans";
  --color-indigo-dye: #00416a;
  --color-black-russian: #0d0b1c;
  --color-chinese-black: #100e24;
  --color-rich-black: #030211;
  --color-blue-munsell: #0093af;
  --color-green-blue: #1164b4;
  --color-black-currant: #070d1b;
  --color-test: #010B13;
  --color-eerie-black: #101624;
  --color-dark-grayish-blue: #3f4551
}

@layer components {
  .contact-link {
    @apply relative flex items-center justify-center px-3.5 h-12 rounded-full bg-black-currant border border-dark-grayish-blue text-neutral-200/75 transition-all duration-300 ease-in-out hover:pr-20 hover:justify-baseline;
    /* #070d1b => link bg */
    /* #101624 => container bg */
  }

  .contact-homePage-link {
    @apply inline-flex items-center justify-center rounded-full transition-all duration-500 ease-in-out border-0;
  }

  .btn {
    @apply cursor-pointer py-3.5 px-7 inline-flex items-center justify-center transition-colors ease-in-out duration-500 bg-linear-90 from-50% from-indigo-dye to-green-blue to-100% rounded-lg font-semibold hover:from-green-blue hover:to-indigo-dye hover:from-0% hover:to-50%;
  }
}

.custom-cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  /* background-color: #0221a7; */ /* Custom color */
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  z-index: 9999;
  mix-blend-mode: difference;
}

.text-stroke {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-green-blue);
  -webkit-text-fill-color: transparent;
}

.number-stroke {
  background: linear-gradient(
    270deg,
    var(--color-indigo-dye) 0%,
    var(--color-blue-munsell) 120%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
